@import "../../styles/variables";

.root {
  width: 90%;
  margin: 1% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4%;
  h2 {
    font-size: calc(#{$size}* 1.4);
    font-weight: 400;
    color: $color-black;
    margin-top: 0;
  }
}

.slider {
  width: 100% !important;
}

@media screen and (max-width: 650px) {
  .root {
    width: 95%;
    margin: 5% 0%;
    margin-bottom: 10%;
    overflow: hidden;
    h2 {
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 450px) {
  .slider {
    width: 90% !important;
  }
}
@media screen and (max-width: 400px) {
  .slider {
    margin-left: -5%;
  }
}
@media screen and (max-width: 370px) {
  .slider {
    width: 80% !important;
    margin-left: -12%;
  }
}
