@import "../../styles/variables";

.root {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2%;
  color: $color-black;
  margin-bottom: 4%;
  margin-top: 1%;
  .card_item {
    border-radius: 20px;
    border: 3px solid $color-dark-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    padding: 2%;
    span {
      color: $color-dark-blue;
      font-size: calc(#{$size}* 3.5);
      font-weight: 800;
    }
    p {
      font-size: calc(#{$size}/ 1.4);
      text-align: start;
      width: 100%;
    }
    .lable {
      font-weight: bold;
      font-size: calc(#{$size}/ 1.1);
      text-align: start;
      width: 100%;
      margin: 0;
    }
  }
}
@media screen and (max-width: 900px) {
  .root {
    flex-wrap: wrap;
    row-gap: 15px;
    align-items: stretch;
    .card_item {
      width: 44%;
    }
  }
}
@media screen and (max-width: 650px) {
  .root {
    width: 95%;
    margin-bottom: 10%;
    .card_item {
      width: 100%;
      padding: 10% 2%;
      span {
        font-size: 50px;
        margin-bottom: 1%;
      }
      p {
        font-size: 15px;
        margin: 1% 0%;
        text-align: center;
      }
      .lable {
        font-size: 17px;
        text-align: center;
      }
    }
  }
}
