@import "../../styles/variables";

.root {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: $color-black;
  padding-bottom: 3%;
  h2 {
    font-size: calc(#{$size}* 1.4);
    font-weight: 400;
    margin-top: 0;
  }
  .blog_list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
  }
}

.item_root {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 3px solid $color-dark-blue;
  border-radius: 50px;
  padding: 1%;
  gap: 3%;
  img {
    height: auto;
    width: 40%;
  }
  .text_block {
    width: 55%;
    h2 {
      font-size: calc(#{$size}* 1.2);
      font-weight: 600;
    }
    p {
      font-size: calc(#{$size}/ 1.4);
      text-align: justify;
    }
    a {
      color: $color-dark-blue;
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 1%;
      margin: 0;
      padding: 0;
      text-align: end;
      text-decoration: none;
      font-size: calc(#{$size}/ 1.4);
      transition: all 0.3s;
      &:hover {
        color: $color-blue;
      }
    }
  }
}
